  <style>
         body {
  background-color: #ffe3fd;
  margin: 0 auto;
}

h1 {
  color: #ff87f5;
  margin-left: 0 auto;
  font-family: molot;
    @font-face { font-family: molot; src:       url('fonts/Molot.otf'); }
  
}
h2 {
  color: #ff87f5;
  margin-left: 0 auto;
  font-family: molot;
}
li {
  color: #ff87f5;
  margin-left: 0 auto;
  font-family: molot;
}
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  }
    </style>